/* Geral */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 12px;
   font-family: verdana, arial, helvetica, sans-serif;
   line-height: 1.5;
   }
.titulo
{
  font-size: 18px;
  font-weight: bold;
}
body {
 //background: #222222;
      }
a:focus {
 outline: none;
         }
.content {
  margin: 30px;
         }
.clearfix:after {
  content: '.';
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
 }
                                  
/* Abas */
.tabs-content {
  background: #eee;
  font-family: sans-serif;
}
 
/* Menu das abas */
.tabs-menu {
  background: #00358c;
}
.tabs-menu ul {
   list-style: none;
}
.tabs-menu ul li {
  float: left;
}
.tabs-menu ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #fff;
}
.tabs-menu ul li a.active-tab-menu {
  background: #eee;
  color: #000;
}
 
/* Conteúdo das abas */
.tabs {
  display: none;
  padding: 30px;
}
.first-tab {
  display: block;
}
